<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GenericServletEx</display-name>
    <servlet-name>GenericServletEx</servlet-name>
    <servlet-class>com.servlet.GenericServletEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletEx</servlet-name>
    <url-pattern>/GenericServletEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletEx</display-name>
    <servlet-name>HttpServletEx</servlet-name>
    <servlet-class>com.servlet.HttpServletEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletEx</servlet-name>
    <url-pattern>/HttpServletEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServlet</display-name>
    <servlet-name>HttpServlet</servlet-name>
    <servlet-class>com.servlet.HttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServlet</servlet-name>
    <url-pattern>/HttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DC</display-name>
    <servlet-name>DC</servlet-name>
    <servlet-class>com.servlet.DC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DC</servlet-name>
    <url-pattern>/DC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>